* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 10dvh;
    color: rgb(7, 199, 7);
}
body {
    width: 100%;
    height: 100dvh;
    background: url("images/MorlaP.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

span {
    display: block;
    position:absolute;
    width: 75px;
    height: 75px;
    background: url("images/MuppetBirthday.jpg") center no-repeat;
    background-size: contain;
    background-attachment: fixed ;
    pointer-events: none;
    color: aliceblue;
    font-weight: bold ;
    font-size: 1rem;
    /* border-radius: 50%; */
    
}

